body {
  width: 200px;
  padding: 0 10px 10px 10px;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #4caf40;
  color: white;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  padding: 10px 20px;
}

button:active {
  background-color: white;
  color: black;
  outline: none;
  border: 2px solid #4caf50;
  padding: 8px 18px;
}

input {
  width: 50px;
}

span {
  color: #4caf50;
}
